#article {
	font-family: 'Montserrat', sans-serif;
}
/* id для body */

.main-content {
	block-size: ;
	width: 100%;
	border-top: 2px solid #840084;
	border-bottom: 2px solid #840084;
   background-color: #984298;
   margin: auto;
}
/* общий class для обычных элементов */

.main-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#bq {
	width: 80%;
	padding: 0px;
	margin: 5px;
	box-sizing: border-box;
}
/* класс для блочной цитаты (зачем?(переделать) */

.forhead {
	border-bottom: 2px dashed #840084;
	border-right: 2px dashed #840084;
	border-left: 2px dashed #840084;
	background-color: #A93B74;
	padding: 0px;
}

.forhead h3 {
	margin: 0px;
	padding: 15px;
}

.pr {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;
	box-sizing: border-box;
}

.monoschizo p {
	display: block;
}
/* класс для стиха и вообще предварительно отредактиврованного текста
   важно !!! нужно сделать нормальные размеры для блока и подумать куда вставить*/

.navbar {
	 z-index: 2;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #C8A2C8;
}
/* контейнер навигационного меню сверху, общий блок */

.container-sec {
	 width: 100%;
    padding-right: -15px;
    padding-left: -15px;
    margin-right: auto;
    margin-left: auto;
}
/* блок содержащий элементы как раз менюшки но как общий блок всего внутри, внутри блока который вон сверху
   да, сложно воспринять поначалу, но вот так вот */

.content-menu {
	width: 100%;
	position: relative;
}
/* содержит уже все элементы, от лого до списка поблочно, читай далее внимательнее что моя шиза придумала */

.content-menu img{
	width: 47px;
	height: 47px;
	float: left;
}
/* стили для лого слева */

.main-nav {
	float: left;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/* не понимаю почему, но если это убрать то лого уезжает куда-то в пустоту, переделать, оптимизировать */

.navbar nav {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
/* стили для блока списка */

.navbar ul {	
	margin: 0px;
	padding: 0px;
}
/* стили для списка самого */

.navbar li {
	display: inline-block;
	color: #423132;
	text-decoration: none;
}
/* стили для каждого элемента списка, инлайн блок каким-то образом влияет на расположение по горизонтали
   надо учиться дальше */

.navbar a {
	display: block;
	padding: 10px;
	border-radius: 13px;
}
/* контент каждого элемента списка (стили для них), сами элементы я определил как блоки выше, а контент в гиперссылках */

.navbar li a:hover {
	background-color: rebeccapurple;
	text-decoration: none;
	color: #423132;
}
/* поведение блока при наведении курсора на него */

.menu-huyna {
	padding-left: 5px;
}

#logo {
	padding: 0px;
}
/* интересно */