#Тело {
   font-family: 'Sofia Sans', sans-serif;
   font-size: 105%;
	margin: 0px;
	background: linear-gradient(90deg, rgba(38,31,31,1) 0%, rgba(88,26,73,1) 51%, rgba(138,27,87,1) 100%);
	color: #ccc8c1;
	line-height: 22.5px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Верхняя-панель  {
	opacity: 0.8;
	z-index: 2;
   height: 50px;
   width: 100%;
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background: url(../медиа/задник-верх.png)  right center/cover no-repeat;
}

.Навигация {
	height: 100%;
	padding-left: 10px;
	display: flex;
   align-items: center;
}

.Навигация nav {
	padding-left: 5px;
}

.Навигация img {
	width: 40px;
	border-radius: 50px;
}

.Навигация ul {	
	margin: 0px;
	padding-left: 5px;
}

.Навигация li {
	display: inline-block;
	text-decoration: none;
}

.Навигация a {
	display: block;
	padding: 10px;
	border-radius: 15px;
}

.Навигация li a:hover {
	border-bottom: none;
	background-color: #6400c8;
	text-decoration: none;
	color: #BA20BA;
}
/* Полностью описывает поведение верхнего меню, надо переделать (!!!) */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Главный-контент {
	display: grid;
	grid-template-areas: "text sidebar";
	grid-template-columns: 4fr 1fr;
	grid-gap: 1vw;
	width: 100%;
   margin: 0px;
}

.Сайдбар {
	grid-area: sidebar;
}

.Сайдбар ul {
	width: max-content;
	height: max-content;
	border-left: 2px solid black;
	position: sticky;
	list-style-type: none;
}

.Сам-контент {
	line-height: 26.5px;
	grid-area: text;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.Сам-контент ul {
	position: static;
	height: initial;
	border: none;
	list-style-type: disc;
	margin-top: 0px;
}

.Сам-контент p {
	margin: 0px;
	margin-top: 25px;
}

.Цитата {
	border-radius: 7px;
	background-color: #161111;
	padding: 0px;
	margin: 17px 0px 17px 15px;
	width: 80%;
}

@media screen and (max-width: 920px) {

	.Цитата {
		width: 90%;
		margin-right: 0px
	}

   .Главный-контент {
   	grid-template-areas: "text text";
   }

   .Сайдбар ul {
   	display: none;
   }
}

/* Стили для главного контента на странице как и для стишков снизу, секретов нет, лишь простота*/

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Мюсли {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background: linear-gradient(55deg, rgba(39,33,41,1) 0%, rgba(83,38,74,1) 44%, rgba(151,41,88,1) 100%);
	border-top: 5px solid #2A2121;
	padding: 0px;
	margin: 0px;
}

.Мюсли table {
	width: 100%;
	padding: 1vw;
	padding-bottom: 0px;
}

.Мюсли table tr td{
	padding: 10px;
	width: 100%;
   text-align: center;
   font-size: 95%;
   font-style: italic;
}
/* Стили для стишком, все очень просто (предельно просто, лишь взгляните в хтмл) */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Футер {
	opacity: 0.6;
	color: #313131;
	background-color: #9E9E9E;
	margin: 0px;
}

.Футер p {
	margin-bottom: 0px;
	margin-top: 13px;
	padding-bottom: 13px;
	text-align: center;
   font-style: italic;
   font-size: 80%;
}

/* Общий блок всего футера (самый низ) и нижний текст */



.Титры {
   display: grid;
   grid-template-areas: "col1 col2 col3";
   grid-template-columns: repeat(3, 1fr);
   grid-row: max-content;
   line-height: 33px;
   margin: 0px;
   padding-top: 15px;
   padding-bottom: 15px;
}

.Титры ul {
   margin: auto;
}

.столб-1 {
   grid-area: col1;
}

.столб-2 {
   grid-area: col2;
}

.столб-3 {
	grid-area: col3;
}

.Титры ul {
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	list-style: none;
}

.Титры ul a {
	text-decoration: none;
	color: #313131;
}

@media screen and (max-width: 920px) {
	.Титры {
     row-gap: 25px;
	  grid-template-areas: "col1 col2"
	                       "col3 col3";
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: max-content max-content;
	}
}

.Титры h3 {
	padding: 0px;
	margin: 0px;
}

/* Правила для заголовков списков, декорация ссылок в списке, а также правила для блока в целом */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */