#Тело {
	background: rgba(51, 28, 103, 1.0);

	margin: 0px;

   font-family: 'Neucha', cursive;
   font-size: 20px;
   line-height: 22.5px;
   color: #ccc8c1;
}

.Прелоадер {
	display: flex;
	align-items: center;
	justify-content: center;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 1001;

   overflow: hidden;
   backdrop-filter: blur(15px);
}

.ГифкаПрел {
	background: url(../медиа/прела.gif) no-repeat;
   opacity: 0.8;
   
	border-radius: 10px;
   width: 220px;
   height: 165px;
}

.сокрытие .Прелоадер {
	transition: 1s opacity;
	opacity: 0;
}

.скрыто .Прелоадер {
	display: none;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Верхняя-панель  {
   display: flex;
   align-items: center;
   justify-content: flex-start;

   height: 55px;
   width: 100%;
   opacity: 0.9;
   background: url(../медиа/задник-верх.png) center/cover no-repeat;

   position: sticky;
   z-index: 2;
   top: 0;
}

.Навигация {
	display: flex;
   align-items: center;

	height: 100%;

	padding-left: 10px;
}

.Навигация ul {	
	margin: 0px;
	padding-left: 5px;
}

.Навигация img {
	width: 50px;
}

.Навигация li {
	display: inline-block;

	text-decoration: none;
}

.Навигация li a:hover, .Навигация li a:active{
	background-color: #6400c8;
	border-bottom: none;

	text-decoration: none;
	color: #BA20BA;
}

.Навигация a {
	display: block;

   font-size: 105%;
   border-radius: 10px;

	padding: 10px;
}

.Навигация a:focus {
	border-bottom: none;
}
/* Полностью описывает поведение верхнего меню, надо переделать (!!!) */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Обертка {
	background: radial-gradient(circle, rgba(51,30,99,1) 21%, rgba(51,28,103,1) 51%, rgba(32,24,48,1) 100%);

	margin-top: 0;
}

.Главный-контент {
	display: grid;
	grid-template-areas: "text sidebar";
	grid-template-columns: 4fr 1fr;
	grid-gap: 1vw;

	width: 100%;
   margin: 0px;
}

.Сам-контент {
	grid-area: text;
	display: flex;
	flex-direction: column;

   animation: 5s sheesh;
	padding: 25px;
	padding-top: 15px;

	line-height: 26.5px;
}

.Сам-контент p {
	margin: 15px
}

.Цитата {
	width: 80%;
	background-color: #161111;
	border-radius: 7px;

	padding: 0px;
	margin: 17px 0px 17px 15px;
}

.Сам-контент ul {
	height: initial;
	border: none;

	position: static;

	margin: 10px;

	list-style-type: disc;
}

#Картиночки {
	display: flex;
	align-self: center;
	align-items: center;

   width: max-content;
   opacity: 0.9;
	background: #161111;
	border-radius: 20px;

	margin: 15px;
}

#Картиночки picture {
   padding: 15px;

	font-family: 'Amatic SC';
	font-size: 165%;
	text-align: center;
}

#Картиночки img {
	width: 14vw;
	height: 14vw;
	opacity: 0.85;

	margin: 12.5px;
}

#Оценка {
	align-self: end;

   width: max-content;

	margin: 15px;
}

#Оценка fieldset {
	border: solid black;
	border-radius: 15px;

	accent-color: rebeccapurple;
}

#Оценка button {
	display: inline-block;

	float: right;
	background: rebeccapurple;
	border-radius: 5px;
	border-color: transparent;

	padding-top: 8px;

	font-size: 17px;
	font-family: "Neucha";
}

.Сайдбар {
	grid-area: sidebar;

	height: max-content;
	background: linear-gradient(90deg, rgba(118,159,68,1) 0%, rgba(56,56,193,1) 44%, rgba(60,207,209,1) 82%);

	position: sticky;
	top: 10vw;

	padding-left: 15px;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.Сайдбар ul {
	height: max-content;
	box-sizing: border-box;
	border-left: 2px solid dimgrey;

	padding-left: 0;

	line-height: 42px;
	list-style-type: none;
}

.Сайдбар ul li:hover {
	background: linear-gradient(90deg, rgba(170,28,28,1) 0%, rgba(161,91,46,1) 16%, rgba(125,122,36,1) 32%, 
		                                rgba(45,130,31,1) 48%,rgba(24,105,112,1) 64%,rgba(41,50,124,1) 80%, 
		                                rgba(115,33,131,1) 100%);

	-webkit-text-fill-color: #ccc8c1;
}

.Сайдбар a {
	background: none;
	border: none;

	padding: 25px;

	text-decoration: none;
	color: inherit;
}

/* Стили для главного контента на странице как и для стишков снизу, секретов нет, лишь простота*/

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Мюсли {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	overflow: hidden;
	background: radial-gradient(circle, rgba(84,42,98,1) 18%, rgba(79,31,70,1) 51%, rgba(87,14,45,1) 100%);
	border-top: 5px solid #2A2121;

	padding: 0px;
	margin: 0px;

	font-family: 'Caveat', cursive;
}

.Мюсли h3 {
   margin-bottom: 8px;
   margin-top: 0px;
}

.Мюсли table {
	animation: 5s fadeRight;
	width: 100%;

	padding: 1vw;
	padding-bottom: 0px;
}

.Мюсли table tr td{
	width: 100%;

	padding: 8px 0px 25px 0px;

   text-align: center;
   font-size: 110%;
   font-style: italic;
}

/* Стили для стишков, все очень просто (предельно просто, лишь взгляните в хтмл) */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.Футер {
	background: #94808f;
	opacity: 0.6;

	bottom: 0;

	margin: 0px;

   font-family: 'Comfortaa', cursive;
	color: #313131;
}

.Титры {
   display: grid;
   grid-template-areas: "col1 col2 col3";
   grid-template-columns: repeat(3, 1fr);
   grid-row: max-content;

   margin: 0px;
   padding-top: 15px;
   padding-bottom: 15px;

   font-family: 'Comfortaa', cursive;
   font-size: 76%;
   line-height: 33px;
}

.столб-1 {
   grid-area: col1;
}

.столб-2 {
   grid-area: col2;
}

.столб-3 {
	grid-area: col3;
}

.Титры h3 {
	font-family: 'Comfortaa', cursive;
	padding: 0px;
	margin: 0px;
}

.Титры ul {
	height: 100%;
	width: 100%;

	margin: auto;
	padding: 0px;

	text-align: center;
	list-style: none;
}

.Титры ul a {
	text-decoration: none;
	color: #313131;
}

.Футер p {
	margin: 13px 0px 0px 0px;
	padding: 0px 0px 13px 0px;

	text-align: center;
   font-size: 65%;
}

/* Правила для заголовков списков, декорация ссылок в списке, а также правила для блока в целом */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */