#Тело {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	background-color: #984298;
}
/* id для body */

.Нав-панель  {
	 z-index: 2;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #C8A2C8;
}
/* контейнер навигационного меню сверху, общий блок */

.Контейнер-нав {
	 width: 100%;
    padding-right: -15px;
    padding-left: -15px;
    margin-right: auto;
    margin-left: auto;
}
/* блок содержащий элементы как раз менюшки но как общий блок всего внутри, внутри блока который вон сверху
   да, сложно воспринять поначалу, но вот так вот */

.Контент-нав {
	width: 100%;
	position: relative;
}
/* содержит уже все элементы, от лого до списка поблочно, читай далее внимательнее что моя шиза придумала */

.Контент-нав img{
	width: 47px;
	height: 47px;
	float: left;
}
/* стили для лого слева */

#Лого {
	padding: 0px;
}
/* интересно */

.Нав-кнопки {
	float: left;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/* не понимаю почему, но если это убрать то лого уезжает куда-то в пустоту, переделать, оптимизировать */

.Нав-панель nav {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
/* стили для блока списка */

.Нав-панель ul {	
	margin: 0px;
	padding: 0px;
}
/* стили для списка самого */

.Нав-панель li {
	display: inline-block;
	color: #423132;
	text-decoration: none;
}
/* стили для каждого элемента списка, инлайн блок каким-то образом влияет на расположение по горизонтали
   надо учиться дальше */

.Нав-панель a {
	display: block;
	padding: 10px;
	border-radius: 13px;
}
/* контент каждого элемента списка (стили для них), сами элементы я определил как блоки выше, а контент в гиперссылках */

.Нав-панель li a:hover {
	background-color: rebeccapurple;
	text-decoration: none;
	color: #423132;
}
/* поведение блока при наведении курсора на него */

.Пиздец {
	padding-left: 5px;
}

.Главный-контент {
	block-size: ;
	width: 100%;
   margin: 0px;
}
/* общий class для обычных элементов */

.Сам-контент {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.Цитата {
	border-left: 4px solid #340E34;
	background-color: #7F147F;
	width: 80%;
	padding: 0px;
	margin-left: 15px;
	box-sizing: border-box;
}
/* класс для блочной цитаты (зачем?(переделать) */

.Мюсли {
	background-color: #A93B74;
	padding: 0px;
	margin: 0px;
}

.Мюсли h3 {
	box-sizing: border-box;
	margin: 0px;
	padding: 15px;
}

.Стишки {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;
	box-sizing: border-box;
}

.Шиза p {
	display: block;
	margin: 20px;
}
/* класс для стиха и вообще предварительно отредактиврованного текста
   важно !!! нужно сделать нормальные размеры для блока и подумать куда вставить*/

.Футер {
	margin: 0px;
}

.Фута {
}

.Низ {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px;
}

#Футер-лого {
	float: left;
	width: 40px;
	border-radius: 50px;
}